Service References/PlantService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://59.175.218.200:9090/dxservice/svcs/DataService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://59.175.218.200:9090/dxservice/svcs/DataService" targetNamespace="http://59.175.218.200:9090/dxservice/svcs/DataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://59.175.218.200:9090/dxservice/svcs/DataService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="postResponse">
    <wsdl:part name="postReturn" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="postRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="getReturn" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:portType name="DataServiceImpl">
    <wsdl:operation name="get" parameterOrder="in0 in1 in2">
      <wsdl:input name="getRequest" message="impl:getRequest" />
      <wsdl:output name="getResponse" message="impl:getResponse" />
    </wsdl:operation>
    <wsdl:operation name="post" parameterOrder="in0 in1 in2 in3">
      <wsdl:input name="postRequest" message="impl:postRequest" />
      <wsdl:output name="postResponse" message="impl:postResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoapBinding" type="impl:DataServiceImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRequest">
        <wsdlsoap:body use="encoded" namespace="http://impl.services.dataexchange.unieap.neusoft.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:body use="encoded" namespace="http://59.175.218.200:9090/dxservice/svcs/DataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="postRequest">
        <wsdlsoap:body use="encoded" namespace="http://impl.services.dataexchange.unieap.neusoft.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="postResponse">
        <wsdlsoap:body use="encoded" namespace="http://59.175.218.200:9090/dxservice/svcs/DataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataServiceImplService">
    <wsdl:port name="DataService" binding="impl:DataServiceSoapBinding">
      <wsdlsoap:address location="http://59.175.218.200:9090/dxservice/svcs/DataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>